* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
}

body {
  overflow-y: scroll;

  background: linear-gradient(DarkGrey, Black);
  background-attachment: fixed;
  position: relative;
}

a {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  padding: 5px 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 1px black;
  margin: 10px 10px;
}

a:focus {
  box-shadow: 0px 0px;
  transform: translate(2%, 2%);
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  background-color: FireBrick;
  padding: 5px 0px;
  height: 60px;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 790px) {
  nav{
    height: 120px; 
  }
  body{
    padding-top: 120px;
    height: 100vh;
  }
}

@media only screen and (max-width: 875px) {
  .pro-contents {
    flex-direction: column;
  }
}





header {
  flex-direction: row;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-size: 25px;
  flex-wrap: wrap;
}

.img-container {
  margin: 20px;
  height: 300px;
  width: 300px;
  overflow: hidden;
  border-radius: 100%;
}

img {
  height: 135%;
}

#bio-card {
  display: block;
}

#con-card,
#edu-card,
#occ-card,
#pro-card {
  display: none;
}

#con-card,
#bio-card,
#edu-card,
#pro-card,
#occ-card {
  margin: 20px 10px 50px 10px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 3px 3px DarkGrey;
  font-size: 2.5vh;
}

#con-card > p,
#edu-card > p,
#bio-card > p {
  margin-top: 10px;
}

#con-card > p{
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.1);
  line-height: 40px;
  border-radius: 5px;
}
.edu-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 12px 0px;
  padding: 12px 0px;
  background-color: rgba(0, 0, 0, 0.1);
  align-items: center;
  border-radius: 5px;
}

.edu-img-div {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 100%;
}

.edu-img-div > img {
  width: 500px;
  transform: translate(-20%, -13%);
}

.pro-contents {
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 12px 0px;
  padding: 12px 0px;
  background-color: rgba(0, 0, 0, 0.1);
}

.pro-img {
  display: flex;
  justify-content: flex-start;
}

.pro-img-contents {
  width: 120px;
  height: 120px;
  overflow: hidden;
}

.pro-img-contents > img {
  width: 90%;
  height: 90%;
  transform: translate(5%, 0%);
}

.dropbtn {
  background-color: rgba(139, 0, 0, 0.8);
  border: 3px inset rgba(255, 255, 255, 0.4);
  margin: 5px 0px;
  padding: 10px;
  color: white;
  width: 100%;
  font-size: 25px;
}

.dropbtn::after {
  content: "... Click here.";
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 20px;
  font-size: 20px;

}

ul {
  margin-left: 30px;
}

#wb-img {
  margin: 10px;
  height: 400px;
  width: 700px;
  border-radius: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
}

#wb-container {
  display: flex;
  justify-content: center;
}

#wb-img > img {
  height: 250%;
  transform: translate(0%,-20%);
}
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
}

body {
  overflow-y: scroll;

  background: linear-gradient(DarkGrey, Black);
  background-attachment: fixed;
  position: relative;
}

a {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  padding: 5px 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 1px black;
  margin: 10px 10px;
}

a:focus {
  box-shadow: 0px 0px;
  transform: translate(2%, 2%);
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  background-color: FireBrick;
  padding: 5px 0px;
  height: 60px;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 790px) {
  nav{
    height: 120px; 
  }
  body{
    padding-top: 120px;
    height: 100vh;
  }
}

@media only screen and (max-width: 875px) {
  .pro-contents {
    flex-direction: column;
  }
}





header {
  flex-direction: row;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-size: 25px;
  flex-wrap: wrap;
}

.img-container {
  margin: 20px;
  height: 300px;
  width: 300px;
  overflow: hidden;
  border-radius: 100%;
}

img {
  height: 135%;
}

#bio-card {
  display: block;
}

#con-card,
#edu-card,
#occ-card,
#pro-card {
  display: none;
}

#con-card,
#bio-card,
#edu-card,
#pro-card,
#occ-card {
  margin: 20px 10px 50px 10px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 3px 3px DarkGrey;
  font-size: 2.5vh;
}

#con-card > p,
#edu-card > p,
#bio-card > p {
  margin-top: 10px;
}

#con-card > p{
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.1);
  line-height: 40px;
  border-radius: 5px;
}
.edu-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 12px 0px;
  padding: 12px 0px;
  background-color: rgba(0, 0, 0, 0.1);
  align-items: center;
  border-radius: 5px;
}

.edu-img-div {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 100%;
}

.edu-img-div > img {
  width: 500px;
  transform: translate(-28%, -20%);
}

.pro-contents {
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 12px 0px;
  padding: 12px 0px;
  background-color: rgba(0, 0, 0, 0.1);
}

.pro-img {
  display: flex;
  justify-content: flex-start;
}

.pro-img-contents {
  width: 120px;
  height: 120px;
  overflow: hidden;
}

.pro-img-contents > img {
  width: 90%;
  height: 90%;
  transform: translate(5%, 0%);
}

.dropbtn {
  background-color: rgba(139, 0, 0, 0.8);
  border: 3px inset rgba(255, 255, 255, 0.4);
  margin: 5px 0px;
  padding: 10px;
  color: white;
  width: 100%;
  font-size: 25px;
}

.dropbtn::after {
  content: "... Click here.";
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 20px;
  font-size: 20px;

}

ul {
  margin-left: 30px;
}

#wb-img {
  margin: 10px;
  height: 400px;
  width: 700px;
  border-radius: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
}

#wb-container {
  display: flex;
  justify-content: center;
}

#wb-img > img {
  height: 250%;
  transform: translate(0%,-20%);
}* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
}

body {
  overflow-y: scroll;

  background: linear-gradient(DarkGrey, Black);
  background-attachment: fixed;
  position: relative;
}

a {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  padding: 5px 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 1px black;
  margin: 10px 10px;
}

a:focus {
  box-shadow: 0px 0px;
  transform: translate(2%, 2%);
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  background-color: FireBrick;
  padding: 5px 0px;
  height: 60px;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 790px) {
  nav{
    height: 120px; 
  }
  body{
    padding-top: 120px;
    height: 100vh;
  }
}

@media only screen and (max-width: 875px) {
  .pro-contents {
    flex-direction: column;
  }
}





header {
  flex-direction: row;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-size: 25px;
  flex-wrap: wrap;
}

.img-container {
  margin: 20px;
  height: 300px;
  width: 300px;
  overflow: hidden;
  border-radius: 100%;
}

img {
  height: 135%;
}

#bio-card {
  display: block;
}

#con-card,
#edu-card,
#occ-card,
#pro-card {
  display: none;
}

#con-card,
#bio-card,
#edu-card,
#pro-card,
#occ-card {
  margin: 20px 10px 50px 10px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 3px 3px DarkGrey;
  font-size: 2.5vh;
}

#con-card > p,
#edu-card > p,
#bio-card > p {
  margin-top: 10px;
}

#con-card > p{
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.1);
  line-height: 40px;
  border-radius: 5px;
}
.edu-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 12px 0px;
  padding: 12px 0px;
  background-color: rgba(0, 0, 0, 0.1);
  align-items: center;
  border-radius: 5px;
}

.edu-img-div {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 100%;
}

.edu-img-div > img {
  width: 500px;
  transform: translate(-20%, -13%);
}

.pro-contents {
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 12px 0px;
  padding: 12px 0px;
  background-color: rgba(0, 0, 0, 0.1);
}

.pro-img {
  display: flex;
  justify-content: flex-start;
}

.pro-img-contents {
  width: 120px;
  height: 120px;
  overflow: hidden;
}

.pro-img-contents > img {
  width: 90%;
  height: 90%;
  transform: translate(5%, 0%);
}

.dropbtn {
  background-color: rgba(139, 0, 0, 0.8);
  border: 3px inset rgba(255, 255, 255, 0.4);
  margin: 5px 0px;
  padding: 10px;
  color: white;
  width: 100%;
  font-size: 25px;
}

.dropbtn::after {
  content: "... Click here.";
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 20px;
  font-size: 20px;

}

ul {
  margin-left: 30px;
}

#wb-img {
  margin: 10px;
  height: 400px;
  width: 700px;
  border-radius: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
}

#wb-container {
  display: flex;
  justify-content: center;
}

#wb-img > img {
  height: 250%;
  transform: translate(0%,-20%);
}
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
}

body {
  overflow-y: scroll;

  background: linear-gradient(DarkGrey, Black);
  background-attachment: fixed;
  position: relative;
}

a {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  padding: 5px 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 1px black;
  margin: 10px 10px;
}

a:focus {
  box-shadow: 0px 0px;
  transform: translate(2%, 2%);
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  background-color: FireBrick;
  padding: 5px 0px;
  height: 60px;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 790px) {
  nav{
    height: 120px; 
  }
  body{
    padding-top: 120px;
    height: 100vh;
  }
}

@media only screen and (max-width: 875px) {
  .pro-contents {
    flex-direction: column;
  }
}





header {
  flex-direction: row;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-size: 25px;
  flex-wrap: wrap;
}

.img-container {
  margin: 20px;
  height: 300px;
  width: 300px;
  overflow: hidden;
  border-radius: 100%;
}

img {
  height: 135%;
}

#bio-card {
  display: block;
}

#con-card,
#edu-card,
#occ-card,
#pro-card {
  display: none;
}

#con-card,
#bio-card,
#edu-card,
#pro-card,
#occ-card {
  margin: 20px 10px 50px 10px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 3px 3px DarkGrey;
  font-size: 2.5vh;
}

#con-card > p,
#edu-card > p,
#bio-card > p {
  margin-top: 10px;
}

#con-card > p{
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.1);
  line-height: 40px;
  border-radius: 5px;
}
.edu-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 12px 0px;
  padding: 12px 0px;
  background-color: rgba(0, 0, 0, 0.1);
  align-items: center;
  border-radius: 5px;
}

.edu-img-div {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 100%;
}

.edu-img-div > img {
  width: 500px;
  transform: translate(-28%, -20%);
}

.pro-contents {
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 12px 0px;
  padding: 12px 0px;
  background-color: rgba(0, 0, 0, 0.1);
}

.pro-img {
  display: flex;
  justify-content: flex-start;
}

.pro-img-contents {
  width: 120px;
  height: 120px;
  overflow: hidden;
}

.pro-img-contents > img {
  width: 90%;
  height: 90%;
  transform: translate(5%, 0%);
}

.dropbtn {
  background-color: rgba(139, 0, 0, 0.8);
  border: 3px inset rgba(255, 255, 255, 0.4);
  margin: 5px 0px;
  padding: 10px;
  color: white;
  width: 100%;
  font-size: 25px;
}

.dropbtn::after {
  content: "... Click here.";
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 20px;
  font-size: 20px;

}

ul {
  margin-left: 30px;
}

#wb-img {
  margin: 10px;
  height: 400px;
  width: 700px;
  border-radius: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
}

#wb-container {
  display: flex;
  justify-content: center;
}

#wb-img > img {
  height: 250%;
  transform: translate(0%,-20%);
}* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
}

body {
  overflow-y: scroll;

  background: linear-gradient(DarkGrey, Black);
  background-attachment: fixed;
  position: relative;
}

a {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  padding: 5px 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 1px black;
  margin: 10px 10px;
}

a:focus {
  box-shadow: 0px 0px;
  transform: translate(2%, 2%);
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  background-color: FireBrick;
  padding: 5px 0px;
  height: 60px;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 790px) {
  nav{
    height: 120px; 
  }
  body{
    padding-top: 120px;
    height: 100vh;
  }
}

@media only screen and (max-width: 875px) {
  .pro-contents {
    flex-direction: column;
  }
}





header {
  flex-direction: row;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-size: 25px;
  flex-wrap: wrap;
}

.img-container {
  margin: 20px;
  height: 300px;
  width: 300px;
  overflow: hidden;
  border-radius: 100%;
}

img {
  height: 135%;
}

#bio-card {
  display: block;
}

#con-card,
#edu-card,
#occ-card,
#pro-card {
  display: none;
}

#con-card,
#bio-card,
#edu-card,
#pro-card,
#occ-card {
  margin: 20px 10px 50px 10px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 3px 3px DarkGrey;
  font-size: 2.5vh;
}

#con-card > p,
#edu-card > p,
#bio-card > p {
  margin-top: 10px;
}

#con-card > p{
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.1);
  line-height: 40px;
  border-radius: 5px;
}
.edu-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 12px 0px;
  padding: 12px 0px;
  background-color: rgba(0, 0, 0, 0.1);
  align-items: center;
  border-radius: 5px;
}

.edu-img-div {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 100%;
}

.edu-img-div > img {
  width: 500px;
  transform: translate(-20%, -13%);
}

.pro-contents {
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 12px 0px;
  padding: 12px 0px;
  background-color: rgba(0, 0, 0, 0.1);
}

.pro-img {
  display: flex;
  justify-content: flex-start;
}

.pro-img-contents {
  width: 120px;
  height: 120px;
  overflow: hidden;
}

.pro-img-contents > img {
  width: 90%;
  height: 90%;
  transform: translate(5%, 0%);
}

.dropbtn {
  background-color: rgba(139, 0, 0, 0.8);
  border: 3px inset rgba(255, 255, 255, 0.4);
  margin: 5px 0px;
  padding: 10px;
  color: white;
  width: 100%;
  font-size: 25px;
}

.dropbtn::after {
  content: "... Click here.";
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 20px;
  font-size: 20px;

}

ul {
  margin-left: 30px;
}

#wb-img {
  margin: 10px;
  height: 400px;
  width: 700px;
  border-radius: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
}

#wb-container {
  display: flex;
  justify-content: center;
}

#wb-img > img {
  height: 250%;
  transform: translate(0%,-20%);
}
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
}

body {
  overflow-y: scroll;

  background: linear-gradient(DarkGrey, Black);
  background-attachment: fixed;
  position: relative;
}

a {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  padding: 5px 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 1px black;
  margin: 10px 10px;
}

a:focus {
  box-shadow: 0px 0px;
  transform: translate(2%, 2%);
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  background-color: FireBrick;
  padding: 5px 0px;
  height: 60px;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 790px) {
  nav{
    height: 120px; 
  }
  body{
    padding-top: 120px;
    height: 100vh;
  }
}

@media only screen and (max-width: 875px) {
  .pro-contents {
    flex-direction: column;
  }
}





header {
  flex-direction: row;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-size: 25px;
  flex-wrap: wrap;
}

.img-container {
  margin: 20px;
  height: 300px;
  width: 300px;
  overflow: hidden;
  border-radius: 100%;
}

img {
  height: 135%;
}

#bio-card {
  display: block;
}

#con-card,
#edu-card,
#occ-card,
#pro-card {
  display: none;
}

#con-card,
#bio-card,
#edu-card,
#pro-card,
#occ-card {
  margin: 20px 10px 50px 10px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 3px 3px DarkGrey;
  font-size: 2.5vh;
}

#con-card > p,
#edu-card > p,
#bio-card > p {
  margin-top: 10px;
}

#con-card > p{
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.1);
  line-height: 40px;
  border-radius: 5px;
}
.edu-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 12px 0px;
  padding: 12px 0px;
  background-color: rgba(0, 0, 0, 0.1);
  align-items: center;
  border-radius: 5px;
}

.edu-img-div {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 100%;
}

.edu-img-div > img {
  width: 500px;
  transform: translate(-28%, -20%);
}

.pro-contents {
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 12px 0px;
  padding: 12px 0px;
  background-color: rgba(0, 0, 0, 0.1);
}

.pro-img {
  display: flex;
  justify-content: flex-start;
}

.pro-img-contents {
  width: 120px;
  height: 120px;
  overflow: hidden;
}

.pro-img-contents > img {
  width: 90%;
  height: 90%;
  transform: translate(5%, 0%);
}

.dropbtn {
  background-color: rgba(139, 0, 0, 0.8);
  border: 3px inset rgba(255, 255, 255, 0.4);
  margin: 5px 0px;
  padding: 10px;
  color: white;
  width: 100%;
  font-size: 25px;
}

.dropbtn::after {
  content: "... Click here.";
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 20px;
  font-size: 20px;

}

ul {
  margin-left: 30px;
}

#wb-img {
  margin: 10px;
  height: 400px;
  width: 700px;
  border-radius: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
}

#wb-container {
  display: flex;
  justify-content: center;
}

#wb-img > img {
  height: 250%;
  transform: translate(0%,-20%);
}* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
}

body {
  overflow-y: scroll;

  background: linear-gradient(DarkGrey, Black);
  background-attachment: fixed;
  position: relative;
}

a {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  padding: 5px 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 1px black;
  margin: 10px 10px;
}

a:focus {
  box-shadow: 0px 0px;
  transform: translate(2%, 2%);
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  background-color: FireBrick;
  padding: 5px 0px;
  height: 60px;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 790px) {
  nav{
    height: 120px; 
  }
  body{
    padding-top: 120px;
    height: 100vh;
  }
}

@media only screen and (max-width: 875px) {
  .pro-contents {
    flex-direction: column;
  }
}





header {
  flex-direction: row;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-size: 25px;
  flex-wrap: wrap;
}

.img-container {
  margin: 20px;
  height: 300px;
  width: 300px;
  overflow: hidden;
  border-radius: 100%;
}

img {
  height: 135%;
}

#bio-card {
  display: block;
}

#con-card,
#edu-card,
#occ-card,
#pro-card {
  display: none;
}

#con-card,
#bio-card,
#edu-card,
#pro-card,
#occ-card {
  margin: 20px 10px 50px 10px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 3px 3px DarkGrey;
  font-size: 2.5vh;
}

#con-card > p,
#edu-card > p,
#bio-card > p {
  margin-top: 10px;
}

#con-card > p{
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.1);
  line-height: 40px;
  border-radius: 5px;
}
.edu-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 12px 0px;
  padding: 12px 0px;
  background-color: rgba(0, 0, 0, 0.1);
  align-items: center;
  border-radius: 5px;
}

.edu-img-div {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 100%;
}

.edu-img-div > img {
  width: 500px;
  transform: translate(-20%, -13%);
}

.pro-contents {
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 12px 0px;
  padding: 12px 0px;
  background-color: rgba(0, 0, 0, 0.1);
}

.pro-img {
  display: flex;
  justify-content: flex-start;
}

.pro-img-contents {
  width: 120px;
  height: 120px;
  overflow: hidden;
}

.pro-img-contents > img {
  width: 90%;
  height: 90%;
  transform: translate(5%, 0%);
}

.dropbtn {
  background-color: rgba(139, 0, 0, 0.8);
  border: 3px inset rgba(255, 255, 255, 0.4);
  margin: 5px 0px;
  padding: 10px;
  color: white;
  width: 100%;
  font-size: 25px;
}

.dropbtn::after {
  content: "... Click here.";
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 20px;
  font-size: 20px;

}

ul {
  margin-left: 30px;
}

#wb-img {
  margin: 10px;
  height: 400px;
  width: 700px;
  border-radius: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
}

#wb-container {
  display: flex;
  justify-content: center;
}

#wb-img > img {
  height: 250%;
  transform: translate(0%,-20%);
}
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
}

body {
  overflow-y: scroll;

  background: linear-gradient(DarkGrey, Black);
  background-attachment: fixed;
  position: relative;
}

a {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  padding: 5px 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 1px black;
  margin: 10px 10px;
}

a:focus {
  box-shadow: 0px 0px;
  transform: translate(2%, 2%);
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  background-color: FireBrick;
  padding: 5px 0px;
  height: 60px;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 790px) {
  nav{
    height: 120px; 
  }
  body{
    padding-top: 120px;
    height: 100vh;
  }
}

@media only screen and (max-width: 875px) {
  .pro-contents {
    flex-direction: column;
  }
}





header {
  flex-direction: row;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-size: 25px;
  flex-wrap: wrap;
}

.img-container {
  margin: 20px;
  height: 300px;
  width: 300px;
  overflow: hidden;
  border-radius: 100%;
}

img {
  height: 135%;
}

#bio-card {
  display: block;
}

#con-card,
#edu-card,
#occ-card,
#pro-card {
  display: none;
}

#con-card,
#bio-card,
#edu-card,
#pro-card,
#occ-card {
  margin: 20px 10px 50px 10px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 3px 3px DarkGrey;
  font-size: 2.5vh;
}

#con-card > p,
#edu-card > p,
#bio-card > p {
  margin-top: 10px;
}

#con-card > p{
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.1);
  line-height: 40px;
  border-radius: 5px;
}
.edu-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 12px 0px;
  padding: 12px 0px;
  background-color: rgba(0, 0, 0, 0.1);
  align-items: center;
  border-radius: 5px;
}

.edu-img-div {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 100%;
}

.edu-img-div > img {
  width: 500px;
  transform: translate(-28%, -20%);
}

.pro-contents {
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 12px 0px;
  padding: 12px 0px;
  background-color: rgba(0, 0, 0, 0.1);
}

.pro-img {
  display: flex;
  justify-content: flex-start;
}

.pro-img-contents {
  width: 120px;
  height: 120px;
  overflow: hidden;
}

.pro-img-contents > img {
  width: 90%;
  height: 90%;
  transform: translate(5%, 0%);
}

.dropbtn {
  background-color: rgba(139, 0, 0, 0.8);
  border: 3px inset rgba(255, 255, 255, 0.4);
  margin: 5px 0px;
  padding: 10px;
  color: white;
  width: 100%;
  font-size: 25px;
}

.dropbtn::after {
  content: "... Click here.";
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 20px;
  font-size: 20px;

}

ul {
  margin-left: 30px;
}

#wb-img {
  margin: 10px;
  height: 400px;
  width: 700px;
  border-radius: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
}

#wb-container {
  display: flex;
  justify-content: center;
}

#wb-img > img {
  height: 250%;
  transform: translate(0%,-20%);
}* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
}

body {
  overflow-y: scroll;

  background: linear-gradient(DarkGrey, Black);
  background-attachment: fixed;
  position: relative;
}

a {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  padding: 5px 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 1px black;
  margin: 10px 10px;
}

a:focus {
  box-shadow: 0px 0px;
  transform: translate(2%, 2%);
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  background-color: FireBrick;
  padding: 5px 0px;
  height: 60px;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 790px) {
  nav{
    height: 120px; 
  }
  body{
    padding-top: 120px;
    height: 100vh;
  }
}

@media only screen and (max-width: 875px) {
  .pro-contents {
    flex-direction: column;
  }
}





header {
  flex-direction: row;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-size: 25px;
  flex-wrap: wrap;
}

.img-container {
  margin: 20px;
  height: 300px;
  width: 300px;
  overflow: hidden;
  border-radius: 100%;
}

img {
  height: 135%;
}

#bio-card {
  display: block;
}

#con-card,
#edu-card,
#occ-card,
#pro-card {
  display: none;
}

#con-card,
#bio-card,
#edu-card,
#pro-card,
#occ-card {
  margin: 20px 10px 50px 10px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 3px 3px DarkGrey;
  font-size: 2.5vh;
}

#con-card > p,
#edu-card > p,
#bio-card > p {
  margin-top: 10px;
}

#con-card > p{
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.1);
  line-height: 40px;
  border-radius: 5px;
}
.edu-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 12px 0px;
  padding: 12px 0px;
  background-color: rgba(0, 0, 0, 0.1);
  align-items: center;
  border-radius: 5px;
}

.edu-img-div {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 100%;
}

.edu-img-div > img {
  width: 500px;
  transform: translate(-20%, -13%);
}

.pro-contents {
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 12px 0px;
  padding: 12px 0px;
  background-color: rgba(0, 0, 0, 0.1);
}

.pro-img {
  display: flex;
  justify-content: flex-start;
}

.pro-img-contents {
  width: 120px;
  height: 120px;
  overflow: hidden;
}

.pro-img-contents > img {
  width: 90%;
  height: 90%;
  transform: translate(5%, 0%);
}

.dropbtn {
  background-color: rgba(139, 0, 0, 0.8);
  border: 3px inset rgba(255, 255, 255, 0.4);
  margin: 5px 0px;
  padding: 10px;
  color: white;
  width: 100%;
  font-size: 25px;
}

.dropbtn::after {
  content: "... Click here.";
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 20px;
  font-size: 20px;

}

ul {
  margin-left: 30px;
}

#wb-img {
  margin: 10px;
  height: 400px;
  width: 700px;
  border-radius: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
}

#wb-container {
  display: flex;
  justify-content: center;
}

#wb-img > img {
  height: 250%;
  transform: translate(0%,-20%);
}
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
}

body {
  overflow-y: scroll;

  background: linear-gradient(DarkGrey, Black);
  background-attachment: fixed;
  position: relative;
}

a {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  padding: 5px 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 1px black;
  margin: 10px 10px;
}

a:focus {
  box-shadow: 0px 0px;
  transform: translate(2%, 2%);
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  background-color: FireBrick;
  padding: 5px 0px;
  height: 60px;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 790px) {
  nav{
    height: 120px; 
  }
  body{
    padding-top: 120px;
    height: 100vh;
  }
}

@media only screen and (max-width: 875px) {
  .pro-contents {
    flex-direction: column;
  }
}





header {
  flex-direction: row;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-size: 25px;
  flex-wrap: wrap;
}

.img-container {
  margin: 20px;
  height: 300px;
  width: 300px;
  overflow: hidden;
  border-radius: 100%;
}

img {
  height: 135%;
}

#bio-card {
  display: block;
}

#con-card,
#edu-card,
#occ-card,
#pro-card {
  display: none;
}

#con-card,
#bio-card,
#edu-card,
#pro-card,
#occ-card {
  margin: 20px 10px 50px 10px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 3px 3px DarkGrey;
  font-size: 2.5vh;
}

#con-card > p,
#edu-card > p,
#bio-card > p {
  margin-top: 10px;
}

#con-card > p{
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.1);
  line-height: 40px;
  border-radius: 5px;
}
.edu-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 12px 0px;
  padding: 12px 0px;
  background-color: rgba(0, 0, 0, 0.1);
  align-items: center;
  border-radius: 5px;
}

.edu-img-div {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 100%;
}

.edu-img-div > img {
  width: 500px;
  transform: translate(-28%, -20%);
}

.pro-contents {
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 12px 0px;
  padding: 12px 0px;
  background-color: rgba(0, 0, 0, 0.1);
}

.pro-img {
  display: flex;
  justify-content: flex-start;
}

.pro-img-contents {
  width: 120px;
  height: 120px;
  overflow: hidden;
}

.pro-img-contents > img {
  width: 90%;
  height: 90%;
  transform: translate(5%, 0%);
}

.dropbtn {
  background-color: rgba(139, 0, 0, 0.8);
  border: 3px inset rgba(255, 255, 255, 0.4);
  margin: 5px 0px;
  padding: 10px;
  color: white;
  width: 100%;
  font-size: 25px;
}

.dropbtn::after {
  content: "... Click here.";
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 20px;
  font-size: 20px;

}

ul {
  margin-left: 30px;
}

#wb-img {
  margin: 10px;
  height: 400px;
  width: 700px;
  border-radius: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
}

#wb-container {
  display: flex;
  justify-content: center;
}

#wb-img > img {
  height: 250%;
  transform: translate(0%,-20%);
}